<div class="master">
    <div class="overlay"></div>
    <div class="content">
        <header class="header">
                <ng-adsense [display]="block"></ng-adsense>
            <img class="header-logo" alt="intro background" src="/assets/logoColored.png">
        </header>
        <div class="intro">
            <p></p>
            <h2 class="text">Αστρολογία και Τεχνητή Νοημοσύνη ενώνονται και προσφέρουν αξιόπιστες προβλέψεις</h2>
            <p></p>
            <h1 class="text">Προσωπικές ημερήσιες προβλέψεις δωρεάν</h1>
            <p></p>
            <h3 class="text"><a class="text" [routerLink]="['/login']" [queryParams]="{register : 1}">
                <strong style="text-decoration: none; color: #4154B2;">Γίνε μέλος</strong></a> και δες τι σου επιφυλάσσουν τα άστρα για το μέλλον σου!</h3>
            <p></p>
            <a mat-raised-button class="register-button" [routerLink]="['/login']" [queryParams]="{register : 1}">Ξεκίνα εδώ</a>
        </div>
        <footer>
            <footer-landing></footer-landing>
        </footer>
    </div>
</div>