<div class="master">
    <picture>
        <source type="image/jp2" srcset="/assets/jp2/bg1.jp2">
        <source type="image/webp" srcset="/assets/webp/bg1.webp">
        <img class="bg" src="/assets/default/bg1.jpg" alt="planet earth">
    </picture>
    <div class="overlay"></div>
    <div class="content">
        <header class="header">
            <picture>
                <source type="image/jp2" srcset="/assets/jp2/logoColored.jp2">
                <source type="image/webp" srcset="/assets/webp/logoColored.webp">
                <img class="header-logo" src="/assets/default/logoColored.png" alt="intro background">
            </picture>
        </header>
        <div class="intro">
            <p></p>
            <h2 class="text">Μάθε το μέλλον σου τώρα</h2>
            <p></p>
            <h1 class="text"><strong>Δωρεάν</strong> προσωπικές αστρολογικές προβλέψεις</h1>
            <p></p>
            <h3 class="text"><a class="text" href="https://play.google.com/store/apps/details?id=com.astrolucis&referrer=utm_source%3DwebApp" rel="noopener" target="_blank">
                <strong style="text-decoration: none; color: #4154B2;">Γίνε μέλος</strong></a> και δες τι σου επιφυλάσσουν τα άστρα για το μέλλον σου!</h3>
            <p></p>
            <!-- <a mat-raised-button class="register-button" [routerLink]="['/login']" [queryParams]="{register : 1}">Ξεκίνα εδώ</a> -->
            <a mat-raised-button class="register-button" href="https://play.google.com/store/apps/details?id=com.astrolucis&referrer=utm_source%3DwebApp" rel="noopener" target="_blank">
                <mat-icon>android</mat-icon>
                <span>Κατέβασε εδώ το App</span>
            </a>
        </div>
        <footer>
            <footer-landing></footer-landing>
        </footer>
    </div>
</div>