<mat-toolbar color="primary" class="mat-elevation-z6">
    <span flexLayout="row" fxFlexFill fxLayoutAlign="center center">
        <div flexLayout="row" fxFlex="auto" fxLayoutAlign="center start">
            <img class="icon" src="/assets/logoGrayscale.png"/>
            <span class="spacer" fxLayoutAlign="start start">{{title}}</span>
        </div>
        <div fxHide.lt-md="true" flexLayout="row" fxFlex="auto" fxLayoutAlign="center center" fxFlexFill>
            <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/']">Αρχική</a>
            <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/about']">Σχετικά</a>
            <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/terms']">Όροι χρήσης</a>
            <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/privacy']">Ασφάλεια δεδομένων</a>
            <a mat-button fxFLex="1" class="footer-button" href="https://gineastrologos.gr" target="_blank">Blog</a>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu" fxLayoutAlign="center end" [disabled]="!showMenu">                      
            <mat-icon *ngIf="showMenu" aria-label="Επιλογές">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="showProfile" [routerLink]="['/profile']">
                <mat-icon>account_circle</mat-icon>
                <span>Ο Λογαριασμός μου</span>
            </button>
            <button mat-menu-item *ngIf="showDaily" [routerLink]="['/daily/me']">
                <mat-icon>today</mat-icon>
                <span>Ημερήσιες Προβλέψεις</span>
            </button>
            <button mat-menu-item>
                <mat-icon (click)="logout()">power_settings_new</mat-icon>
                <span>Έξοδος</span>
            </button>
        </mat-menu>
    </span>
    <mat-toolbar-row fxHide.gt-sm="true"
        fxLayoutAlign="center center"
        fxLayoutGap="10px">
        <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/']">Αρχική</a>
        <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/about']">Σχετικά</a>
    </mat-toolbar-row>
    <mat-toolbar-row fxHide.gt-sm="true"
        fxLayoutAlign="center center"
        fxLayoutGap="10px">
        <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/terms']">Όροι χρήσης</a>
        <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/privacy']">Ασφάλεια δεδομένων</a>
        <a mat-button fxFLex="1" class="footer-button" href="https://gineastrologos.gr" target="_blank">Blog</a>
    </mat-toolbar-row>
</mat-toolbar>