<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row class="single-row">
        <div class="home-container">
            <picture>
                <source type="image/webp" srcset="/assets/webp/logoGrayscale.webp">
                <img class="icon" src="/assets/logoGrayscale.png" alt="intro background">
            </picture>
            <span class="spacer">{{title}}</span>
        </div>
        <div class="not-two-rows">
            <a *ngIf="!loggedIn" mat-button fxFLex="1" class="footer-button" [routerLink]="['/']">Αρχική</a>
            <a *ngIf="loggedIn" mat-button fxFLex="1" class="footer-button" [routerLink]="['/daily/me']">Ημερήσιες Προβλέψεις</a>
            <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/about']">Σχετικά</a>
            <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/terms']">Όροι χρήσης</a>
            <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/privacy']">Ασφάλεια δεδομένων</a>
            <a mat-button fxFLex="1" class="footer-button" href="https://gineastrologos.gr" target="_blank">Blog</a>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button" [disabled]="!showMenu">                      
            <mat-icon *ngIf="showMenu" aria-label="Επιλογές">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="showProfile" [routerLink]="['/profile']">
                <mat-icon>account_circle</mat-icon>
                <span>Ο Λογαριασμός μου</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Έξοδος</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
    <mat-toolbar-row class="two-rows">
        <a *ngIf="!loggedIn" mat-button fxFLex="1" class="footer-button" [routerLink]="['/']">Αρχική</a>
        <a *ngIf="loggedIn" mat-button fxFLex="1" class="footer-button" [routerLink]="['/daily/me']">Ημερήσιες Προβλέψεις</a>
        <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/about']">Σχετικά</a>
    </mat-toolbar-row>
    <mat-toolbar-row class="two-rows">
        <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/terms']">Όροι χρήσης</a>
        <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/privacy']">Ασφάλεια δεδομένων</a>
        <a mat-button fxFLex="1" class="footer-button" href="https://gineastrologos.gr" rel="noopener" target="_blank">Blog</a>
    </mat-toolbar-row>
</mat-toolbar>