.master {
    height: auto;
}
.footer-button {
    color: white;
}

.single-row {
    display: none;
    flex-direction: row;
    flex-grow: true;
    justify-content: center;
    align-items: center; 
}

.two-rows {
    display: flex;
    flex-direction: row;
    flex-grow: true;
    justify-content: center;
    align-items: center; 
}

@media (min-width: 500px) {
    .single-row {
        display: flex;
    }
    .two-rows {
        display: none;
    }
}