<mat-toolbar color="primary" class="master">
    <mat-toolbar-row class="single-row">
            <a *ngIf="!loggedIn" mat-button fxFLex="1" class="footer-button" [routerLink]="['/']">Αρχική</a>
            <a *ngIf="loggedIn" mat-button fxFLex="1" class="footer-button" [routerLink]="['/daily/me']">Ημερήσιες Προβλέψεις</a>
            <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/about']">Σχετικά</a>
            <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/terms']">Όροι χρήσης</a>
            <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/privacy']">Ασφάλεια δεδομένων</a>
            <a mat-button fxFLex="1" class="footer-button" href="https://gineastrologos.gr" target="_blank">Blog</a>
    </mat-toolbar-row>
    <mat-toolbar-row class="two-rows">
            <a *ngIf="!loggedIn" mat-button fxFLex="1" class="footer-button" [routerLink]="['/']">Αρχική</a>
            <a *ngIf="loggedIn" mat-button fxFLex="1" class="footer-button" [routerLink]="['/daily/me']">Ημερήσιες Προβλέψεις</a>
            <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/about']">Σχετικά</a>
    </mat-toolbar-row>
    <mat-toolbar-row class="two-rows">
            <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/terms']">Όροι χρήσης</a>
            <a mat-button fxFLex="1" class="footer-button" [routerLink]="['/privacy']">Ασφάλεια δεδομένων</a>
            <a mat-button fxFLex="1" class="footer-button" href="https://gineastrologos.gr" rel="noopener" target="_blank">Blog</a>
    </mat-toolbar-row>
</mat-toolbar>
<div class="fb-customerchat"
        minimized="true"
        page_id="134740287200820"
        ref="astroweb">
    </div>