<div class="master"
    fxLayoutWrap="row"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="3px">
    <a mat-button class="footer-button" [routerLink]="['/']">Αρχική</a>
    <a mat-button class="footer-button" [routerLink]="['/about']">Σχετικά</a>
    <a mat-button class="footer-button" [routerLink]="['/terms']">Όροι χρήσης</a>
    <a mat-button class="footer-button" [routerLink]="['/privacy']">Ασφάλεια δεδομένων</a>
    <a mat-button class="footer-button" href="https://gineastrologos.gr" target="_blank">Blog</a>
</div>