<div class="master">
    <header class="header">
        <app-header title="{{title}}" [showLogout]="showLogout"></app-header>
    </header>
    <div class="holygrail-body">
        <div class="content">
            <ng-content></ng-content>
        </div>
        <div class="nav">
        </div>
        <div class="aside">
            <share-buttons [exclude]="['linkedin','pinterest','stumble','reddit','vk','telegram']" [show]="14" [showCount]="true" [size]="1"
                [url]="'https://astrolucis.gr'"></share-buttons>
        </div>
    </div>
    <footer class="footer">
        <footer-main></footer-main>
    </footer>
</div>