  .master {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
  }
    .header {
      width: 100%;
      height: auto;
    }
    
    .holygrail-body {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      
      .content {
        width: 70vw;
      }
      
      .nav {
        width: 15vw;
        list-style: none;
        text-align: left;
        order: -1;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; 

        .item {
          display: none;
        }
      }
      
      .aside {
        width: 15vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; 
        
        .item {
          padding: 5px;
        }
      }
    }
    
    .footer {
      width: 100%;
      height: auto;
    }
    
    @media (max-width: 700px) {
      .holygrail-body {
         flex-direction: column;
        
        .content {
          width: 100vw;
        }

        .nav, .aside {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center; 
          width: 100vw;

          .item {
            display: inline;
            padding: 10px;
          }
        }
      }
    }