<base-page title="Ασφάλεια δεδομένων">
    <section>

        <p> </p>
        <p>Ακολουθούμε σε όλες τις διαδικασίες επεξεργασίας προσωπικών δεδομένων (π.χ., συλλογή, επεξεργασία και μετάδοση) που
            προβλέπει ο νόμος. Η ακόλουθη δήλωση δίνει μια γενική εικόνα για το τί είδους δεδομένα συλλέγονται, με ποιόν
            τρόπο αυτά χρησιμοποιούνται και μεταδίδονται, τί μέτρα ασφαλείας λαμβάνουμε για την προστασία των δεδομένων σας
            και τον τρόπο με τον οποίο θα λάβετε ενημέρωση για τις πληροφορίες που μας δόθηκαν σχετικά με τα δεδομένα αυτά.&nbsp;</p>
        <p>
            <br>
        </p>
        <p>Όλα τα δεδομένα σχετικά με τη χρήση, ιδίως η διεύθυνσή σας IP, θα διαγραφούν το συντομότερο δυνατό. Διατηρούμε τα
            δεδομένα σας καθαρά για στατιστικούς λόγους και για χρήση δικής σας ενημέρωσης.
            <br>
        </p>
        <p></p>
        <p></p>
    </section>
</base-page>