<base-page title="Ημερήσιες Προβλέψεις" showLogout="true">
    <mat-grid-list [cols]="cols | async" gutterSize="15px" rowHeight="290px">           
        <mat-grid-tile class="prediction-card-tile" *ngFor="let availableDate of availableDates">
            <mat-card class="prediction-card">
                <mat-card-header>
                    <mat-card-title>{{formatDate(availableDate)}}</mat-card-title>
                </mat-card-header>
                <img class="prediction-card-image" mat-card-image (click)="openPrediction(availableDate)" [src]="getDayImage(availableDate)" [alt]="getDayImageName(availableDate)">
                <mat-card-actions>
                    <button mat-button [disabled]="availableDate == -1" (click)="openPrediction(availableDate)">{{getActionLemma(availableDate)}}</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</base-page>