.prediction-card {
    margin: 0px 5px 10px 5px;
    width: 100%;
    height: auto;
}


.prediction-card-image {
    width: 100%;
    height: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-size: cover;
    object-fit: cover;
}