<base-page title="{{title}}" showMenu="true">
    <div fxLayout="column" style="margin-top: 16px; min-height: 100%"fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="dailyPrediction | async; else loading">
            <div fxLayout="column"
                class="container"
                fxLayoutAlign="center center"
                fxLayoutGap="16px"
                class="explanation-list">
                <mat-card fxFlexFill fxFlex="grow" fxFlexAlign="center" *ngFor="let explanation of (dailyPrediction | async)?.planetExplanations">
                    <mat-card-content *ngIf="explanation.title != -1">
                        <div fxFlexFill class="card-title explanation-content"><strong>{{explanation.title}}</strong></div>
                        <div fxFlexFill class="card-subtitle explanation-content">{{explanation.lemma}}</div>
                    </mat-card-content>
                    <mat-card-content *ngIf="explanation.title == -1">
                        <daily-prediction-adsense fxFlexFill></daily-prediction-adsense>
                    </mat-card-content>
                </mat-card>
            </div>
            <p></p>
            <h3 fxFlexAlign="center center" class="explanation-list"><strong>Ήταν οι προβλέψεις μας ακριβείς; Βαθμολογίστε μας με αριστα το 10!</strong></h3>
            <mat-slider 
                fxFlexAlign="center center"
                class="accuracy-slide"
                max="10"
                min="0"
                step="1"
                thumb-label="true"
                (change)="onAccuracyChanged($event)"
                [value]="(dailyPrediction | async)?.accuracy / 10">
            </mat-slider>
        </div>
        <ng-template #loading>
            <div fxFlexAlign="center center" >
                <mat-spinner></mat-spinner>
            </div>
        </ng-template>
    </div>
</base-page>