<div class="master">
    <div class="bg"></div>
    <div class="overlay"></div>
    <div class="content">
        <div class="card-container">
        <mat-card class="card">
            <form [formGroup]="formChangePassword" (ngSubmit)="onSubmit()">
                <mat-card-content fxLayoutGap="5px" fxFlex="auto" fxLayout="column" class="container">

                    <mat-form-field>
                        <input name="email" matInput placeholder="Το email μου" formControlName="email" [disabled]="true">
                    </mat-form-field>
                
                    <mat-form-field>
                        <input name="password" matInput placeholder="Ο νέος μου κωδικός" [type]="changePasswordHide ? 'password' : 'text'"
                            formControlName="password">
                        <mat-icon matSuffix (click)="changePasswordHide = !changePasswordHide">{{changePasswordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="formChangePassword.controls.password.errors?.minlength">
                            Ο κωδικός πρέπει να είναι τουλάχιστον 6 χαρακτήρες
                        </mat-error>
                        <mat-error *ngIf="formChangePassword.controls.password.errors?.required">
                            Ο κωδικός δεν μπορεί να είναι κενός
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input name="passwordRepeat" matInput placeholder="Επανάληψη του νέου μου κωδικού" [type]="changePasswordRepeatHide ? 'password' : 'text'"
                            formControlName="passwordRepeat">
                        <mat-icon matSuffix (click)="changePasswordRepeatHide = !changePasswordRepeatHide">{{changePasswordRepeatHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="formChangePassword.controls.passwordRepeat.errors?.required">
                            Ο κωδικός δεν μπορεί να είναι κενός
                        </mat-error>
                        <mat-error *ngIf="formChangePassword.controls.passwordRepeat.errors?.mismatch">
                            Οι κωδικοί που έβαλες πρέπει να είναι ίδιοι
                        </mat-error>
                    </mat-form-field>

                    <mat-progress-bar mode="indeterminate" [@visibilityChanged]="showLoader"></mat-progress-bar>
                    <mat-card-actions>
                            <button type="submit" class="login-button" mat-raised-button class="login-button" color="primary">Αλλαγή Κωδικού</button>
                    </mat-card-actions>

                </mat-card-content>
            </form>
        </mat-card>
        </div>
        <footer>
            <footer-landing></footer-landing>
        </footer>
    </div>
</div>