<base-page title="Όροι χρήσης">
    <section>

        <p> </p>
        <p>
            <b>Δικαιώματα πνευματικής και βιομηχανικής ιδιοκτησίας</b>
        </p>
        <p>Το σύνολο του περιεχομένου του Δικτυακού μας τόπου, συμπεριλαμβανομένων, ενδεικτικά αλλά όχι περιοριστικά, κειμένων,
            ειδήσεων, γραφικών, φωτογραφιών, σχεδιαγραμμάτων, απεικονίσεων, παρεχόμενων υπηρεσιών και γενικά κάθε είδους
            αρχείων αποτελεί αντικείμενο πνευματικής ιδιοκτησίας και διέπεται από τις εθνικές και διεθνείς διατάξεις περί
            Πνευματικής Ιδιοκτησίας, με εξαίρεση τα ρητώς αναγνωρισμένα δικαιώματα τρίτων. </p>
        <p>Συνεπώς, απαγορεύεται ρητά η αναπαραγωγή, αναδημοσίευση, αντιγραφή, αποθήκευση, πώληση, μετάδοση, διανομή, έκδοση,
            εκτέλεση, «φόρτωση ( download )», μετάφραση, τροποποίηση με οποιονδήποτε τρόπο, τμηματικά η περιληπτικά χωρίς
            τη ρητή προηγούμενη έγγραφη συναίνεση της Δικαιούχου. Κατ εξαίρεση, επιτρέπεται η μεμονωμένη αποθήκευση και αντιγραφή
            τμημάτων του περιεχομένου σε απλό προσωπικό υπολογιστή για αυστηρά προσωπική χρήση, χωρίς πρόθεση εμπορικής ή
            άλλης εκμετάλλευσης και πάντα υπό την προυπόθεση της αναγραφής της πηγής προέλευσής του, χωρίς αυτό να σημαίνει
            καθ οιονδήποτε τρόπο παραχώρηση δικαιωμάτων πνευματικής ιδιοκτησίας. </p>
        <p>Ό,τι άλλο περιλαμβάνεται στις ηλεκτρονικές σελίδες του Δικτυακού μας τόπου και αποτελεί κατοχυρωμένα σήματα και προιόντα
            πνευματικής ιδιοκτησίας τρίτων ανάγεται στη δική τους σφαίρα ευθύνης και ουδόλως έχει να κάνει με τον δικό μας
            Δικτυακό τόπο.</p>
        <p>
            <br>
        </p>
        <p>
            <b>Υποχρεώσεις επισκέπτη / χρήστη</b>
        </p>
        <p>Ο επισκέπτης / χρήστης του Δικτυακού μας τόπου οφείλει αφενός μεν να συμμορφώνεται με τους κανόνες και τις διατάξεις
            του Ελληνικού, Ευρωπαικού και Διεθνούς Δικαίου και τη σχετική νομοθεσία που διέπει τις τηλεπικοινωνίες, αφετέρου
            δε να απέχει από κάθε παράνομη και καταχρηστική χρήση του περιεχομένου και των υπηρεσιών του Δικτυακού μας τόπου.
            </p>
        <p>Επίσης, οφείλει να συμπεριφέρεται κόσμια, ευγενικά και διακριτικά κατά την διάρκεια επίσκεψής του και χρήσης του
            Δικτυακού μας τόπου, ενώ απαγορεύεται ρητά η υιοθέτηση πρακτικών αθέμιτου ανταγωνισμού ή άλλων που αντίκεινται
            στην NETIQUETTE ( Κώδικας Συμπεριφοράς Χρηστών INTERNET ). Οποιαδήποτε ζημία προκληθεί στο Δικτυακό μας τόπο
            ή στο Δίκτυο γενικότερα απορρέουσα από την κακή ή αθέμιτη χρήση των σχετικών υπηρεσιών από τον χρήστη / επισκέπτη
            ανάγεται στη σφαίρα της αποκλειστικής του ευθύνης.</p>
        <p>
            <br>
        </p>
        <p>
            <b>Προστασία προσωπικών δεδομένων</b>
        </p>
        <p>Η διαχείριση και προστασία των προσωπικών δεδομένων του επισκέπτη / χρήστη του Δικτυακού μας τόπου διέπεται από τους
            όρους της παρούσας και τις σχετικές διατάξεις τόσο του Ελληνικού Δικαίου ( Ν. 2472 / 1997, Π.δ. 207 / 1998. Π.δ.
            79 / 2000 και αρ. 8 Ν. 2819 / 2000 ), όσο και του Ευρωπαικού Δικαίου ( Οδ. 95/46/ΕΚ και Οδ. 97/66/ΕΚ ).Τα προσωπικά
            στοιχεία που συλλέγει ο Δικτυακός μας τόπος είναι τα ακόλουθα:</p>
        <p>
            <b>Yποχρεωτικά</b>
        </p>
        <p>- Ε-Mail</p>
        <p>- Password</p>
        <p>- Έτος και ώρα γέννησης</p>
        <p>
            <br>
        </p>
        <p>
            <b>Προαιρετικά</b>
        </p>
        <p>- Φύλο</p>
        <p>Τα στοιχεία αυτά ουδέποτε γνωστοποιούνται σε τρίτους ( με εξαίρεση όπου προβλέπεται από το Νόμο στις αρμόδιες και
            μόνο αρχές ), αλλά διαφυλάσσεται ο προσωπικός τους χαρακτήρας. Ο Δικτυακός μας τόπος διατηρεί αρχεία με τα στοιχεία
            αυτά αποκλειστικά για λόγους επικοινωνίας, στατιστικούς και βελτίωσης των παρεχομένων υπηρεσιών του.</p>
        <p>Ειδικότερα, αναφορικά με τις υπηρεσίες συνομιλιών, ο Δικτυακός μας τόπος δύναται να καταγράφει τα μηνύματα που αποστέλλονται
            από τους χρήστες / επισκέπτες με σκοπό να εξακριβώσει την ύπαρξη ή όχι παραβάσεων των όρων της παρούσης, αλλά
            σε καμία περίπτωση να γνωστοποιήσει το περιεχομενό τους σε τρίτους.</p>
        <p>Επιπλέον, στην περίπτωση των « δεσμών » προς άλλους δικτυακούς τόπους, ο Δικτυακός μας τόπος δεν ευθύνεται για τους
            όρους διαχείρισης και προστασίας των προσωπικών δεδομένων που αυτοί ακολουθούν. Σε κάθε περίπτωση πάντως ο χρήστης
            / επισκέπτης του Δικτυακού μας τόπου έχει τη δυνατότητα αφού επικοινωνήσει με το αρμόδιο τμήμα και διαπιστώσει
            την ύπαρξη προσωπικού του αρχείου να ζητήσει τη διαγραφή, διόρθωση ή αλλαγή του. </p>
        <p>Ανήλικοι έχουν πρόσβαση στο Δικτυακό μας τόπο μόνο με τη συγκατάθεση των γονέων / κηδεμόνων τους και δεν υποχρεούνται
            να γνωστοποιήσουν τα προσωπικά τους στοιχεία.</p>
        <p></p>
        <address>
            <p>Για οποιαδήποτε διευκρίνηση μπορείτε να <a href="mailto:info@astrolucis.gi">επικοινωνήσετε</a> μαζί μας.</p>
        </address>
        <p></p>
        <p></p>

    </section>
</base-page>