<base-page title="Σχετικά">
    <section class="content" fxLayoutWrap="column"
            fxLayoutAlign="center"
            fxLayoutGap="30px">
        <img class="header-logo" src="/assets/logoColored.png">
        <p><strong>Astro Lucis</strong> σημαίνει το Φως των Αστέρων. Σε μια εποχή όπου η επιστήμη έχει κάνει άλματα και η πίστη σε ανώτερες δυνάμεις έχει εξασθενήσει, το Astro Lucis κάνει ένα βήμα μπροστά και <strong>συνδυάζει αρχαίες τεχνικές αστρολογίας με τεχνητή νοημοσύνη</strong>.</p>
        <p>Η αστρολογία σε όλη της την ιστορία έχει περάσει από πολλά στάδια εξέλιξης, στην σημερινή εποχή έχει ατονήσει λόγω των επιστημονικών μεθόδων που χρησιμοποιούνται για να εξελίξουμε την ζωή και την ύπαρξη μας.</p>
        <p>Σκοπός μας είναι να συνδυάσουμε το παλιό και το νέο, την αστρολογία και την τεχνητή νοημοσύνη. <strong>Να δούμε τις τάσεις των πλανητικών ενεργειών πάνω στον άνθρωπο</strong>. Να κάνουμε τον κόσμο να υποψιαστεί το λόγιο <strong>Ως άνω έτσι και κάτω</strong>.</p>
        <p><strong><a class="text" [routerLink]="['/login']" [queryParams]="{register : 1}">Η υπηρεσία μας είναι δωρεάν</a></strong>. Ελάτε μαζί να εξερευνήσουμε το πάλαι γνωστό μα τώρα άγνωστο. Τον παλμό του σύμπαντος.</p>
        <a mat-raised-button class="register-button" [routerLink]="['/login']" [queryParams]="{register : 1}">Ξεκίνα εδώ</a>
    </section>
</base-page>