<div class="master">
    <div class="bg"></div>
    <div class="overlay"></div>
    <div class="content">
        <div class="card-container">
        <mat-card class="card">
            <form (ngSubmit)="onSubmit()">
                <mat-card-content class="container">
                    <mat-form-field>
                        <input name="email" matInput placeholder="Το email μου" [formControl]="form.get('email')" [value]="emailField" (input)="emailField = $event.target.value">
                        <mat-error *ngIf="form.controls.email.errors?.email">
                            Το email δεν είναι έγκυρο
                        </mat-error>
                        <mat-error *ngIf="form.controls.email.errors?.required">
                            Το email δεν μπορεί να είναι κενό
                        </mat-error>
                    </mat-form-field>
                
                    <mat-form-field>
                        <input name="password" matInput placeholder="Ο κωδικός μου" [type]="passwordHide ? 'password' : 'text'" [formControl]="form.get('password')" [value]="passwordField" (input)="passwordField = $event.target.value">
                        <mat-icon class="clickable" matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="form.controls.password.errors?.minlength">
                            Ο κωδικός πρέπει να είναι τουλάχιστον 6 χαρακτήρες
                        </mat-error>
                        <mat-error *ngIf="form.controls.password.errors?.required">
                            Ο κωδικός δεν μπορεί να είναι κενός
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field *ngIf="showExtra" @visibilityChanged>
                        <input name="password" matInput placeholder="Επανάληψη του κωδικού μου" [type]="passwordRepeatHide ? 'password' : 'text'" [formControl]="form.get('passwordRepeat')" [value]="passwordRepeatField" (input)="passwordRepeatField = $event.target.value">
                        <mat-icon class="clickable" matSuffix (click)="passwordRepeatHide = !passwordRepeatHide">{{passwordRepeatHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="form.controls.passwordRepeat.errors?.required">
                                Ο κωδικός δεν μπορεί να είναι κενός
                            </mat-error>
                            <mat-error *ngIf="form.controls.passwordRepeat.errors?.mismatch">
                                Οι κωδικοί που έβαλες πρέπει να είναι ίδιοι
                            </mat-error>
                    </mat-form-field>

                    <mat-progress-bar mode="indeterminate" *ngIf="showLoader" @visibilityChanged></mat-progress-bar>
                    <mat-card-actions class="actions" *ngIf="showLoginRegister" @visibilityChanged>
                            <button style="margin:0;" type="submit" mat-raised-button class="login-button" color="primary">{{isLogin ? 'Είσοδος' : 'Εγγραφή'}}</button>
                            <button style="margin:8px 0px 0px 0px;" mat-raised-button class="fb-button" (click)="fbConnect()">Συνέχεια με το Facebook</button>
                    </mat-card-actions>
                    <mat-card-footer class="footer" *ngIf="showLoginRegister" @visibilityChanged>
                            <a class="toggle-login-register">{{isLogin ? 'Δεν έχω λογαριασμό.' : 'Έχω ήδη λογαριασμό.'}} <strong class="clickable" (click)="onToggleState()">{{isLogin ? 'Εγγραφή!' : 'Είσοδος!'}}</strong></a>
                            <a *ngIf="showReset" class="toggle-login-register" @visibilityChanged>Ξέχασα τον κωδικό μου. <strong class="clickable" (click)="sendResetEmail()">Αλλαγή κωδικού!</strong></a>
                    </mat-card-footer>

                </mat-card-content>
            </form>
        </mat-card>
        </div>
        <footer>
            <footer-landing></footer-landing>
        </footer>
    </div>
</div>